:root {
  --wwwapplecomnero: rgba(255, 255, 255, 1);
  --wwwapplecomwhite-lilac: rgba(251, 251, 253, 1);
  --wwwapplecomshark: rgba(29, 29, 31, 1);
  --wwwapplecomscience-blue: rgba(0, 102, 204, 1);
  --wwwapplecomblack: rgba(0, 0, 0, 1);
  --wwwapplecomathens-gray: rgba(245, 245, 247, 1);
  --wwwapplecomjapanese-laurel: rgba(41, 151, 255, 1);
  --wwwapplecomblack-80: rgba(0, 0, 0, 0.8);
  --wwwapplecomblack-42: rgba(0, 0, 0, 0.42);
  --wwwapplecomcod-gray: rgba(29, 29, 29, 1);
  --wwwapplecomblack-16: rgba(0, 0, 0, 0.16);
  --wwwapplecomblack-56: rgba(0, 0, 0, 0.56);
  --wwwapplecomblack-72: rgba(0, 0, 0, 0.72);
  --wwwapplecomblack-88: rgba(0, 0, 0, 0.88);
  --wwwapplecomblack-48: rgba(0, 0, 0, 0.48);
  --wwwapplecomwoodsmoke-80: rgba(22, 22, 23, 0.8);
  --wwwapplecomnero-80: rgba(255, 255, 255, 0.8);
  --wwwofficeworkscomauendeavour: rgba(0, 91, 171, 1);
  --wwwofficeworkscomaunavy-blue: rgba(0, 16, 128, 1);
  --wwwofficeworkscomaugallery: rgba(239, 239, 239, 1);
  --wwwofficeworkscomaualto: rgba(224, 224, 224, 1);
  --wwwofficeworkscomaublack: rgba(255, 0, 0, 1);
  --wwwofficeworkscomaujacksons-purple: rgba(30, 57, 141, 1);
  --wwwofficeworkscomausilver: rgba(204, 204, 204, 1);
  --wwwofficeworkscomauwild-sand: rgba(245, 245, 245, 1);
  --wwwofficeworkscomaumine-shaft: rgba(37, 37, 37, 1);
  --wwwofficeworkscomaunero: rgba(255, 255, 255, 1);
  --wwwofficeworkscomaudusty-gray: rgba(153, 153, 153, 1);
  --wwwofficeworkscomauvanilla-ice: rgba(239, 203, 215, 1);
  --wwwofficeworkscomautropical-blue: rgba(193, 228, 248, 1);
  --wwwofficeworkscomaublue-haze: rgba(207, 197, 222, 1);
  --wwwofficeworkscomaubanana-mania: rgba(251, 235, 176, 1);
  --wwwofficeworkscomaupowder-blue: rgba(184, 233, 227, 1);
  --wwwofficeworkscomaumaize: rgba(246, 208, 171, 1);
  --wwwofficeworkscomauberyl-green: rgba(218, 232, 197, 1);
  --wwwofficeworkscomaucerulean: rgba(0, 165, 232, 1);
  --wwwofficeworkscomautundora: rgba(65, 65, 65, 1);
  --wwwofficeworkscomaujapanese-laurel: rgba(16, 134, 0, 1);
  --wwwofficeworkscomaucrimson: rgba(218, 25, 46, 1);
  --wwwofficeworkscomauelectric-violet: rgba(153, 0, 241, 1);
  --wwwofficeworkscomauchambray: rgba(46, 79, 125, 1);
  --wwwofficeworkscomaupicton-blue: rgba(85, 172, 238, 1);
  --wwwofficeworkscomausan-marino: rgba(63, 114, 155, 1);
  --wwwofficeworkscomauthunderbird: rgba(205, 32, 31, 1);
  --wwwofficeworkscomaudeep-cerulean: rgba(0, 119, 181, 1);
  --wwwofficeworkscomaubright-turquoise: rgba(37, 244, 238, 1);
  --wwwofficeworkscomauradical-red: rgba(254, 44, 85, 1);
  --wwwofficeworkscomauthunder: rgba(35, 31, 32, 1);
  --wwwofficeworkscomaucamarone: rgba(255, 95, 0, 1);
  --wwwofficeworkscomaured: rgba(235, 0, 27, 1);
  --wwwofficeworkscomautree-poppy: rgba(247, 158, 27, 1);
  --wwwofficeworkscomaupersian-blue: rgba(20, 52, 203, 1);
  --wwwofficeworkscomaublue-lagoon: rgba(1, 121, 138, 1);
  --wwwofficeworkscomaucongress-blue: rgba(0, 74, 152, 1);
  --wwwofficeworkscomaumonza: rgba(221, 2, 40, 1);
  --wwwofficeworkscomaualizarin-crimson: rgba(224, 47, 65, 1);
  --wwwofficeworkscomauscience-blue: rgba(0, 111, 207, 1);
  --wwwofficeworkscomaubay-of-many: rgba(37, 59, 128, 1);
  --wwwofficeworkscomaucurious-blue: rgba(23, 155, 215, 1);
  --wwwofficeworkscomaucello: rgba(34, 45, 101, 1);
  --wwwofficeworkscomaucinder: rgba(27, 19, 35, 1);
  --wwwofficeworkscomaupirate-gold: rgba(170, 143, 255, 1);
  --wwwofficeworkscomauaero-blue: rgba(178, 252, 228, 1);
  --wwwofficeworkscomauboulder: rgba(117, 117, 117, 1);
  --wwwofficeworkscomaumalachite: rgba(255, 215, 49, 1);
  --www-apple-com-inter-semi-bold-51-63-font-family: "Inter", Helvetica;
  --www-apple-com-inter-semi-bold-51-63-font-weight: 600;
  --www-apple-com-inter-semi-bold-51-63-font-size: 51.625px;
  --www-apple-com-inter-semi-bold-51-63-letter-spacing: -0.2800000011920929px;
  --www-apple-com-inter-semi-bold-51-63-line-height: 60px;
  --www-apple-com-inter-semi-bold-51-63-font-style: normal;
  --www-apple-com-inter-regular-24-39-font-family: "Inter", Helvetica;
  --www-apple-com-inter-regular-24-39-font-weight: 400;
  --www-apple-com-inter-regular-24-39-font-size: 24.390625px;
  --www-apple-com-inter-regular-24-39-letter-spacing: 0.1120000034570694px;
  --www-apple-com-inter-regular-24-39-line-height: 31px;
  --www-apple-com-inter-regular-24-39-font-style: normal;
  --www-apple-com-inter-regular-18-38-font-family: "Inter", Helvetica;
  --www-apple-com-inter-regular-18-38-font-weight: 400;
  --www-apple-com-inter-regular-18-38-font-size: 18.375px;
  --www-apple-com-inter-regular-18-38-letter-spacing: 0.23100000619888306px;
  --www-apple-com-inter-regular-18-38-line-height: 29px;
  --www-apple-com-inter-regular-18-38-font-style: normal;
  --www-apple-com-inter-regular-19-2-font-family: "Inter", Helvetica;
  --www-apple-com-inter-regular-19-2-font-weight: 400;
  --www-apple-com-inter-regular-19-2-font-size: 19.1953125px;
  --www-apple-com-inter-regular-19-2-letter-spacing: 0.23100000619888306px;
  --www-apple-com-inter-regular-19-2-line-height: 29px;
  --www-apple-com-inter-regular-19-2-font-style: normal;
  --www-apple-com-inter-semi-bold-51-3-font-family: "Inter", Helvetica;
  --www-apple-com-inter-semi-bold-51-3-font-weight: 600;
  --www-apple-com-inter-semi-bold-51-3-font-size: 51.296875px;
  --www-apple-com-inter-semi-bold-51-3-letter-spacing: -0.2800000011920929px;
  --www-apple-com-inter-semi-bold-51-3-line-height: 60px;
  --www-apple-com-inter-semi-bold-51-3-font-style: normal;
  --www-apple-com-inter-regular-23-95-font-family: "Inter", Helvetica;
  --www-apple-com-inter-regular-23-95-font-weight: 400;
  --www-apple-com-inter-regular-23-95-font-size: 23.953125px;
  --www-apple-com-inter-regular-23-95-letter-spacing: 0.1120000034570694px;
  --www-apple-com-inter-regular-23-95-line-height: 31px;
  --www-apple-com-inter-regular-23-95-font-style: normal;
  --www-apple-com-inter-regular-24-72-font-family: "Inter", Helvetica;
  --www-apple-com-inter-regular-24-72-font-weight: 400;
  --www-apple-com-inter-regular-24-72-font-size: 24.71875px;
  --www-apple-com-inter-regular-24-72-letter-spacing: 0.1120000034570694px;
  --www-apple-com-inter-regular-24-72-line-height: 31px;
  --www-apple-com-inter-regular-24-72-font-style: normal;
  --www-apple-com-inter-regular-16-73-font-family: "Inter", Helvetica;
  --www-apple-com-inter-regular-16-73-font-weight: 400;
  --www-apple-com-inter-regular-16-73-font-size: 16.734375px;
  --www-apple-com-inter-regular-16-73-letter-spacing: -0.37400001287460327px;
  --www-apple-com-inter-regular-16-73-line-height: 21px;
  --www-apple-com-inter-regular-16-73-font-style: normal;
  --www-apple-com-inter-regular-18-87-font-family: "Inter", Helvetica;
  --www-apple-com-inter-regular-18-87-font-weight: 400;
  --www-apple-com-inter-regular-18-87-font-size: 18.8671875px;
  --www-apple-com-inter-regular-18-87-letter-spacing: 0.335999995470047px;
  --www-apple-com-inter-regular-18-87-line-height: 26px;
  --www-apple-com-inter-regular-18-87-font-style: normal;
  --www-apple-com-inter-regular-18-21-font-family: "Inter", Helvetica;
  --www-apple-com-inter-regular-18-21-font-weight: 400;
  --www-apple-com-inter-regular-18-21-font-size: 18.2109375px;
  --www-apple-com-inter-regular-18-21-letter-spacing: 0.335999995470047px;
  --www-apple-com-inter-regular-18-21-line-height: 26px;
  --www-apple-com-inter-regular-18-21-font-style: normal;
  --www-apple-com-inter-regular-12-6-font-family: "Inter", Helvetica;
  --www-apple-com-inter-regular-12-6-font-weight: 400;
  --www-apple-com-inter-regular-12-6-font-size: 12.600000381469727px;
  --www-apple-com-inter-regular-12-6-letter-spacing: 0.335999995470047px;
  --www-apple-com-inter-regular-12-6-line-height: 15.600000381469727px;
  --www-apple-com-inter-regular-12-6-font-style: normal;
  --www-apple-com-inter-regular-18-54-font-family: "Inter", Helvetica;
  --www-apple-com-inter-regular-18-54-font-weight: 400;
  --www-apple-com-inter-regular-18-54-font-size: 18.5390625px;
  --www-apple-com-inter-regular-18-54-letter-spacing: 0.335999995470047px;
  --www-apple-com-inter-regular-18-54-line-height: 26px;
  --www-apple-com-inter-regular-18-54-font-style: normal;
  --www-apple-com-inter-regular-16-87-font-family: "Inter", Helvetica;
  --www-apple-com-inter-regular-16-87-font-weight: 400;
  --www-apple-com-inter-regular-16-87-font-size: 16.8671875px;
  --www-apple-com-inter-regular-16-87-letter-spacing: -0.37400001287460327px;
  --www-apple-com-inter-regular-16-87-line-height: 21px;
  --www-apple-com-inter-regular-16-87-font-style: normal;
  --www-apple-com-inter-semi-bold-36-25-font-family: "Inter", Helvetica;
  --www-apple-com-inter-semi-bold-36-25-font-weight: 600;
  --www-apple-com-inter-semi-bold-36-25-font-size: 36.25px;
  --www-apple-com-inter-semi-bold-36-25-letter-spacing: 0px;
  --www-apple-com-inter-semi-bold-36-25-line-height: 44px;
  --www-apple-com-inter-semi-bold-36-25-font-style: normal;
  --www-apple-com-inter-semi-bold-36-56-font-family: "Inter", Helvetica;
  --www-apple-com-inter-semi-bold-36-56-font-weight: 600;
  --www-apple-com-inter-semi-bold-36-56-font-size: 36.5625px;
  --www-apple-com-inter-semi-bold-36-56-letter-spacing: 0px;
  --www-apple-com-inter-semi-bold-36-56-line-height: 44px;
  --www-apple-com-inter-semi-bold-36-56-font-style: normal;
  --www-apple-com-inter-regular-18-05-font-family: "Inter", Helvetica;
  --www-apple-com-inter-regular-18-05-font-weight: 400;
  --www-apple-com-inter-regular-18-05-font-size: 18.046875px;
  --www-apple-com-inter-regular-18-05-letter-spacing: 0.335999995470047px;
  --www-apple-com-inter-regular-18-05-line-height: 26px;
  --www-apple-com-inter-regular-18-05-font-style: normal;
  --www-apple-com-inter-bold-14-font-family: "Inter", Helvetica;
  --www-apple-com-inter-bold-14-font-weight: 700;
  --www-apple-com-inter-bold-14-font-size: 14px;
  --www-apple-com-inter-bold-14-letter-spacing: -0.2240000069141388px;
  --www-apple-com-inter-bold-14-line-height: 20px;
  --www-apple-com-inter-bold-14-font-style: normal;
  --www-apple-com-inter-bold-16-09-font-family: "Inter", Helvetica;
  --www-apple-com-inter-bold-16-09-font-weight: 700;
  --www-apple-com-inter-bold-16-09-font-size: 16.09375px;
  --www-apple-com-inter-bold-16-09-letter-spacing: 0px;
  --www-apple-com-inter-bold-16-09-line-height: 22px;
  --www-apple-com-inter-bold-16-09-font-style: normal;
  --www-apple-com-inter-regular-16-09-font-family: "Inter", Helvetica;
  --www-apple-com-inter-regular-16-09-font-weight: 400;
  --www-apple-com-inter-regular-16-09-font-size: 16.09375px;
  --www-apple-com-inter-regular-16-09-letter-spacing: 0px;
  --www-apple-com-inter-regular-16-09-line-height: 22px;
  --www-apple-com-inter-regular-16-09-font-style: normal;
  --www-apple-com-inter-bold-14-84-font-family: "Inter", Helvetica;
  --www-apple-com-inter-bold-14-84-font-weight: 700;
  --www-apple-com-inter-bold-14-84-font-size: 14.84375px;
  --www-apple-com-inter-bold-14-84-letter-spacing: 0px;
  --www-apple-com-inter-bold-14-84-line-height: 22px;
  --www-apple-com-inter-bold-14-84-font-style: normal;
  --www-apple-com-inter-regular-14-84-font-family: "Inter", Helvetica;
  --www-apple-com-inter-regular-14-84-font-weight: 400;
  --www-apple-com-inter-regular-14-84-font-size: 14.84375px;
  --www-apple-com-inter-regular-14-84-letter-spacing: 0px;
  --www-apple-com-inter-regular-14-84-line-height: 22px;
  --www-apple-com-inter-regular-14-84-font-style: normal;
  --www-apple-com-inter-regular-11-81-font-family: "Inter", Helvetica;
  --www-apple-com-inter-regular-11-81-font-weight: 400;
  --www-apple-com-inter-regular-11-81-font-size: 11.8125px;
  --www-apple-com-inter-regular-11-81-letter-spacing: -0.11999999731779099px;
  --www-apple-com-inter-regular-11-81-line-height: 16px;
  --www-apple-com-inter-regular-11-81-font-style: normal;
  --www-apple-com-inter-regular-11-81-underline-font-family: "Inter", Helvetica;
  --www-apple-com-inter-regular-11-81-underline-font-weight: 400;
  --www-apple-com-inter-regular-11-81-underline-font-size: 11.8125px;
  --www-apple-com-inter-regular-11-81-underline-letter-spacing: -0.11999999731779099px;
  --www-apple-com-inter-regular-11-81-underline-line-height: 16px;
  --www-apple-com-inter-regular-11-81-underline-font-style: normal;
  --www-apple-com-inter-regular-12-font-family: "Inter", Helvetica;
  --www-apple-com-inter-regular-12-font-weight: 400;
  --www-apple-com-inter-regular-12-font-size: 12px;
  --www-apple-com-inter-regular-12-letter-spacing: -0.11999999731779099px;
  --www-apple-com-inter-regular-12-line-height: 16px;
  --www-apple-com-inter-regular-12-font-style: normal;
  --www-apple-com-inter-semi-bold-12-font-family: "Inter", Helvetica;
  --www-apple-com-inter-semi-bold-12-font-weight: 600;
  --www-apple-com-inter-semi-bold-12-font-size: 12px;
  --www-apple-com-inter-semi-bold-12-letter-spacing: -0.11999999731779099px;
  --www-apple-com-inter-semi-bold-12-line-height: 16px;
  --www-apple-com-inter-semi-bold-12-font-style: normal;
  --www-officeworks-com-au-inter-bold-34-73-font-family: "Inter", Helvetica;
  --www-officeworks-com-au-inter-bold-34-73-font-weight: 700;
  --www-officeworks-com-au-inter-bold-34-73-font-size: 34.734375px;
  --www-officeworks-com-au-inter-bold-34-73-letter-spacing: 0px;
  --www-officeworks-com-au-inter-bold-34-73-line-height: 45px;
  --www-officeworks-com-au-inter-bold-34-73-font-style: normal;
  --www-officeworks-com-au-inter-bold-14-font-family: "Inter", Helvetica;
  --www-officeworks-com-au-inter-bold-14-font-weight: 700;
  --www-officeworks-com-au-inter-bold-14-font-size: 14px;
  --www-officeworks-com-au-inter-bold-14-letter-spacing: 0px;
  --www-officeworks-com-au-inter-bold-14-line-height: 48px;
  --www-officeworks-com-au-inter-bold-14-font-style: normal;
  --www-officeworks-com-au-inter-bold-9-19-font-family: "Inter", Helvetica;
  --www-officeworks-com-au-inter-bold-9-19-font-weight: 700;
  --www-officeworks-com-au-inter-bold-9-19-font-size: 9.1875px;
  --www-officeworks-com-au-inter-bold-9-19-letter-spacing: 0px;
  --www-officeworks-com-au-inter-bold-9-19-line-height: 0px;
  --www-officeworks-com-au-inter-bold-9-19-font-style: normal;
  --www-officeworks-com-au-inter-bold-13-89-font-family: "Inter", Helvetica;
  --www-officeworks-com-au-inter-bold-13-89-font-weight: 700;
  --www-officeworks-com-au-inter-bold-13-89-font-size: 13.890625px;
  --www-officeworks-com-au-inter-bold-13-89-letter-spacing: 0px;
  --www-officeworks-com-au-inter-bold-13-89-line-height: 48px;
  --www-officeworks-com-au-inter-bold-13-89-font-style: normal;
  --www-officeworks-com-au-inter-bold-10-01-font-family: "Inter", Helvetica;
  --www-officeworks-com-au-inter-bold-10-01-font-weight: 700;
  --www-officeworks-com-au-inter-bold-10-01-font-size: 10.0078125px;
  --www-officeworks-com-au-inter-bold-10-01-letter-spacing: 0px;
  --www-officeworks-com-au-inter-bold-10-01-line-height: 0px;
  --www-officeworks-com-au-inter-bold-10-01-font-style: normal;
  --www-officeworks-com-au-inter-bold-10-5-font-family: "Inter", Helvetica;
  --www-officeworks-com-au-inter-bold-10-5-font-weight: 700;
  --www-officeworks-com-au-inter-bold-10-5-font-size: 10.5px;
  --www-officeworks-com-au-inter-bold-10-5-letter-spacing: 0px;
  --www-officeworks-com-au-inter-bold-10-5-line-height: 0px;
  --www-officeworks-com-au-inter-bold-10-5-font-style: normal;
  --www-officeworks-com-au-inter-bold-13-78-font-family: "Inter", Helvetica;
  --www-officeworks-com-au-inter-bold-13-78-font-weight: 700;
  --www-officeworks-com-au-inter-bold-13-78-font-size: 13.78125px;
  --www-officeworks-com-au-inter-bold-13-78-letter-spacing: 0px;
  --www-officeworks-com-au-inter-bold-13-78-line-height: 14px;
  --www-officeworks-com-au-inter-bold-13-78-font-style: normal;
  --www-officeworks-com-au-inter-bold-19-22-font-family: "Inter", Helvetica;
  --www-officeworks-com-au-inter-bold-19-22-font-weight: 700;
  --www-officeworks-com-au-inter-bold-19-22-font-size: 19.21875px;
  --www-officeworks-com-au-inter-bold-19-22-letter-spacing: 0px;
  --www-officeworks-com-au-inter-bold-19-22-line-height: 25px;
  --www-officeworks-com-au-inter-bold-19-22-font-style: normal;
  --www-officeworks-com-au-inter-regular-13-02-font-family: "Inter", Helvetica;
  --www-officeworks-com-au-inter-regular-13-02-font-weight: 400;
  --www-officeworks-com-au-inter-regular-13-02-font-size: 13.015625px;
  --www-officeworks-com-au-inter-regular-13-02-letter-spacing: 0px;
  --www-officeworks-com-au-inter-regular-13-02-line-height: normal;
  --www-officeworks-com-au-inter-regular-13-02-font-style: normal;
  --www-officeworks-com-au-inter-regular-13-13-font-family: "Inter", Helvetica;
  --www-officeworks-com-au-inter-regular-13-13-font-weight: 400;
  --www-officeworks-com-au-inter-regular-13-13-font-size: 13.125px;
  --www-officeworks-com-au-inter-regular-13-13-letter-spacing: 0px;
  --www-officeworks-com-au-inter-regular-13-13-line-height: 20px;
  --www-officeworks-com-au-inter-regular-13-13-font-style: normal;
  --www-officeworks-com-au-inter-regular-12-91-font-family: "Inter", Helvetica;
  --www-officeworks-com-au-inter-regular-12-91-font-weight: 400;
  --www-officeworks-com-au-inter-regular-12-91-font-size: 12.90625px;
  --www-officeworks-com-au-inter-regular-12-91-letter-spacing: 0px;
  --www-officeworks-com-au-inter-regular-12-91-line-height: 20.299999237060547px;
  --www-officeworks-com-au-inter-regular-12-91-font-style: normal;
  --www-officeworks-com-au-inter-regular-13-23-underline-font-family: "Inter", Helvetica;
  --www-officeworks-com-au-inter-regular-13-23-underline-font-weight: 400;
  --www-officeworks-com-au-inter-regular-13-23-underline-font-size: 13.234375px;
  --www-officeworks-com-au-inter-regular-13-23-underline-letter-spacing: 0px;
  --www-officeworks-com-au-inter-regular-13-23-underline-line-height: 21px;
  --www-officeworks-com-au-inter-regular-13-23-underline-font-style: normal;
  --www-officeworks-com-au-inter-bold-13-45-font-family: "Inter", Helvetica;
  --www-officeworks-com-au-inter-bold-13-45-font-weight: 700;
  --www-officeworks-com-au-inter-bold-13-45-font-size: 13.453125px;
  --www-officeworks-com-au-inter-bold-13-45-letter-spacing: 0px;
  --www-officeworks-com-au-inter-bold-13-45-line-height: 14px;
  --www-officeworks-com-au-inter-bold-13-45-font-style: normal;
  --www-officeworks-com-au-inter-bold-19-53-font-family: "Inter", Helvetica;
  --www-officeworks-com-au-inter-bold-19-53-font-weight: 700;
  --www-officeworks-com-au-inter-bold-19-53-font-size: 19.53125px;
  --www-officeworks-com-au-inter-bold-19-53-letter-spacing: 0px;
  --www-officeworks-com-au-inter-bold-19-53-line-height: 25px;
  --www-officeworks-com-au-inter-bold-19-53-font-style: normal;
  --www-officeworks-com-au-inter-bold-13-67-font-family: "Inter", Helvetica;
  --www-officeworks-com-au-inter-bold-13-67-font-weight: 700;
  --www-officeworks-com-au-inter-bold-13-67-font-size: 13.671875px;
  --www-officeworks-com-au-inter-bold-13-67-letter-spacing: 0px;
  --www-officeworks-com-au-inter-bold-13-67-line-height: 20px;
  --www-officeworks-com-au-inter-bold-13-67-font-style: normal;
  --www-officeworks-com-au-inter-regular-13-23-font-family: "Inter", Helvetica;
  --www-officeworks-com-au-inter-regular-13-23-font-weight: 400;
  --www-officeworks-com-au-inter-regular-13-23-font-size: 13.234375px;
  --www-officeworks-com-au-inter-regular-13-23-letter-spacing: 0px;
  --www-officeworks-com-au-inter-regular-13-23-line-height: 20.299999237060547px;
  --www-officeworks-com-au-inter-regular-13-23-font-style: normal;
  --www-officeworks-com-au-inter-bold-13-34-font-family: "Inter", Helvetica;
  --www-officeworks-com-au-inter-bold-13-34-font-weight: 700;
  --www-officeworks-com-au-inter-bold-13-34-font-size: 13.34375px;
  --www-officeworks-com-au-inter-bold-13-34-letter-spacing: 0px;
  --www-officeworks-com-au-inter-bold-13-34-line-height: 21px;
  --www-officeworks-com-au-inter-bold-13-34-font-style: normal;
  --www-officeworks-com-au-inter-bold-25-7-font-family: "Inter", Helvetica;
  --www-officeworks-com-au-inter-bold-25-7-font-weight: 700;
  --www-officeworks-com-au-inter-bold-25-7-font-size: 25.6953125px;
  --www-officeworks-com-au-inter-bold-25-7-letter-spacing: 0px;
  --www-officeworks-com-au-inter-bold-25-7-line-height: 32.5px;
  --www-officeworks-com-au-inter-bold-25-7-font-style: normal;
  --www-officeworks-com-au-inter-bold-17-3-font-family: "Inter", Helvetica;
  --www-officeworks-com-au-inter-bold-17-3-font-weight: 700;
  --www-officeworks-com-au-inter-bold-17-3-font-size: 17.296875px;
  --www-officeworks-com-au-inter-bold-17-3-letter-spacing: 0px;
  --www-officeworks-com-au-inter-bold-17-3-line-height: 22.5px;
  --www-officeworks-com-au-inter-bold-17-3-font-style: normal;
  --www-officeworks-com-au-inter-bold-17-72-font-family: "Inter", Helvetica;
  --www-officeworks-com-au-inter-bold-17-72-font-weight: 700;
  --www-officeworks-com-au-inter-bold-17-72-font-size: 17.71875px;
  --www-officeworks-com-au-inter-bold-17-72-letter-spacing: 0px;
  --www-officeworks-com-au-inter-bold-17-72-line-height: 22.5px;
  --www-officeworks-com-au-inter-bold-17-72-font-style: normal;
  --www-officeworks-com-au-inter-bold-17-44-font-family: "Inter", Helvetica;
  --www-officeworks-com-au-inter-bold-17-44-font-weight: 700;
  --www-officeworks-com-au-inter-bold-17-44-font-size: 17.4375px;
  --www-officeworks-com-au-inter-bold-17-44-letter-spacing: 0px;
  --www-officeworks-com-au-inter-bold-17-44-line-height: 22.5px;
  --www-officeworks-com-au-inter-bold-17-44-font-style: normal;
  --www-officeworks-com-au-inter-bold-17-02-font-family: "Inter", Helvetica;
  --www-officeworks-com-au-inter-bold-17-02-font-weight: 700;
  --www-officeworks-com-au-inter-bold-17-02-font-size: 17.015625px;
  --www-officeworks-com-au-inter-bold-17-02-letter-spacing: 0px;
  --www-officeworks-com-au-inter-bold-17-02-line-height: 22.5px;
  --www-officeworks-com-au-inter-bold-17-02-font-style: normal;
  --www-officeworks-com-au-inter-bold-25-09-font-family: "Inter", Helvetica;
  --www-officeworks-com-au-inter-bold-25-09-font-weight: 700;
  --www-officeworks-com-au-inter-bold-25-09-font-size: 25.0859375px;
  --www-officeworks-com-au-inter-bold-25-09-letter-spacing: 0px;
  --www-officeworks-com-au-inter-bold-25-09-line-height: 32.5px;
  --www-officeworks-com-au-inter-bold-25-09-font-style: normal;
  --www-officeworks-com-au-inter-bold-17-58-font-family: "Inter", Helvetica;
  --www-officeworks-com-au-inter-bold-17-58-font-weight: 700;
  --www-officeworks-com-au-inter-bold-17-58-font-size: 17.578125px;
  --www-officeworks-com-au-inter-bold-17-58-letter-spacing: 0px;
  --www-officeworks-com-au-inter-bold-17-58-line-height: 22.5px;
  --www-officeworks-com-au-inter-bold-17-58-font-style: normal;
  --www-officeworks-com-au-inter-bold-16-88-font-family: "Inter", Helvetica;
  --www-officeworks-com-au-inter-bold-16-88-font-weight: 700;
  --www-officeworks-com-au-inter-bold-16-88-font-size: 16.875px;
  --www-officeworks-com-au-inter-bold-16-88-letter-spacing: 0px;
  --www-officeworks-com-au-inter-bold-16-88-line-height: 22.5px;
  --www-officeworks-com-au-inter-bold-16-88-font-style: normal;
  --www-officeworks-com-au-inter-medium-17-16-font-family: "Inter", Helvetica;
  --www-officeworks-com-au-inter-medium-17-16-font-weight: 500;
  --www-officeworks-com-au-inter-medium-17-16-font-size: 17.15625px;
  --www-officeworks-com-au-inter-medium-17-16-letter-spacing: 0px;
  --www-officeworks-com-au-inter-medium-17-16-line-height: 22.5px;
  --www-officeworks-com-au-inter-medium-17-16-font-style: normal;
  --www-officeworks-com-au-inter-bold-24-68-font-family: "Inter", Helvetica;
  --www-officeworks-com-au-inter-bold-24-68-font-weight: 700;
  --www-officeworks-com-au-inter-bold-24-68-font-size: 24.6796875px;
  --www-officeworks-com-au-inter-bold-24-68-letter-spacing: 0px;
  --www-officeworks-com-au-inter-bold-24-68-line-height: 26px;
  --www-officeworks-com-au-inter-bold-24-68-font-style: normal;
  --www-officeworks-com-au-inter-bold-13-56-font-family: "Inter", Helvetica;
  --www-officeworks-com-au-inter-bold-13-56-font-weight: 700;
  --www-officeworks-com-au-inter-bold-13-56-font-size: 13.5625px;
  --www-officeworks-com-au-inter-bold-13-56-letter-spacing: 0px;
  --www-officeworks-com-au-inter-bold-13-56-line-height: 14px;
  --www-officeworks-com-au-inter-bold-13-56-font-style: normal;
  --www-officeworks-com-au-inter-bold-25-49-font-family: "Inter", Helvetica;
  --www-officeworks-com-au-inter-bold-25-49-font-weight: 700;
  --www-officeworks-com-au-inter-bold-25-49-font-size: 25.4921875px;
  --www-officeworks-com-au-inter-bold-25-49-letter-spacing: 0px;
  --www-officeworks-com-au-inter-bold-25-49-line-height: 26px;
  --www-officeworks-com-au-inter-bold-25-49-font-style: normal;
  --www-officeworks-com-au-inter-regular-13-45-font-family: "Inter", Helvetica;
  --www-officeworks-com-au-inter-regular-13-45-font-weight: 400;
  --www-officeworks-com-au-inter-regular-13-45-font-size: 13.453125px;
  --www-officeworks-com-au-inter-regular-13-45-letter-spacing: 0px;
  --www-officeworks-com-au-inter-regular-13-45-line-height: 20px;
  --www-officeworks-com-au-inter-regular-13-45-font-style: normal;
  --www-officeworks-com-au-inter-bold-25-19-font-family: "Inter", Helvetica;
  --www-officeworks-com-au-inter-bold-25-19-font-weight: 700;
  --www-officeworks-com-au-inter-bold-25-19-font-size: 25.1875px;
  --www-officeworks-com-au-inter-bold-25-19-letter-spacing: 0px;
  --www-officeworks-com-au-inter-bold-25-19-line-height: 32.5px;
  --www-officeworks-com-au-inter-bold-25-19-font-style: normal;
  --www-officeworks-com-au-inter-bold-25-29-font-family: "Inter", Helvetica;
  --www-officeworks-com-au-inter-bold-25-29-font-weight: 700;
  --www-officeworks-com-au-inter-bold-25-29-font-size: 25.2890625px;
  --www-officeworks-com-au-inter-bold-25-29-letter-spacing: 0px;
  --www-officeworks-com-au-inter-bold-25-29-line-height: 26px;
  --www-officeworks-com-au-inter-bold-25-29-font-style: normal;
  --www-officeworks-com-au-inter-medium-17-72-font-family: "Inter", Helvetica;
  --www-officeworks-com-au-inter-medium-17-72-font-weight: 500;
  --www-officeworks-com-au-inter-medium-17-72-font-size: 17.71875px;
  --www-officeworks-com-au-inter-medium-17-72-letter-spacing: 0px;
  --www-officeworks-com-au-inter-medium-17-72-line-height: 22.5px;
  --www-officeworks-com-au-inter-medium-17-72-font-style: normal;
  --www-officeworks-com-au-inter-bold-24-48-font-family: "Inter", Helvetica;
  --www-officeworks-com-au-inter-bold-24-48-font-weight: 700;
  --www-officeworks-com-au-inter-bold-24-48-font-size: 24.4765625px;
  --www-officeworks-com-au-inter-bold-24-48-letter-spacing: 0px;
  --www-officeworks-com-au-inter-bold-24-48-line-height: 26px;
  --www-officeworks-com-au-inter-bold-24-48-font-style: normal;
  --www-officeworks-com-au-inter-bold-25-39-font-family: "Inter", Helvetica;
  --www-officeworks-com-au-inter-bold-25-39-font-weight: 700;
  --www-officeworks-com-au-inter-bold-25-39-font-size: 25.390625px;
  --www-officeworks-com-au-inter-bold-25-39-letter-spacing: 0px;
  --www-officeworks-com-au-inter-bold-25-39-line-height: 26px;
  --www-officeworks-com-au-inter-bold-25-39-font-style: normal;
  --www-officeworks-com-au-inter-bold-24-78-font-family: "Inter", Helvetica;
  --www-officeworks-com-au-inter-bold-24-78-font-weight: 700;
  --www-officeworks-com-au-inter-bold-24-78-font-size: 24.78125px;
  --www-officeworks-com-au-inter-bold-24-78-letter-spacing: 0px;
  --www-officeworks-com-au-inter-bold-24-78-line-height: 26px;
  --www-officeworks-com-au-inter-bold-24-78-font-style: normal;
  --www-officeworks-com-au-inter-medium-19-53-font-family: "Inter", Helvetica;
  --www-officeworks-com-au-inter-medium-19-53-font-weight: 500;
  --www-officeworks-com-au-inter-medium-19-53-font-size: 19.53125px;
  --www-officeworks-com-au-inter-medium-19-53-letter-spacing: 0px;
  --www-officeworks-com-au-inter-medium-19-53-line-height: 25px;
  --www-officeworks-com-au-inter-medium-19-53-font-style: normal;
  --www-officeworks-com-au-inter-medium-19-69-font-family: "Inter", Helvetica;
  --www-officeworks-com-au-inter-medium-19-69-font-weight: 500;
  --www-officeworks-com-au-inter-medium-19-69-font-size: 19.6875px;
  --www-officeworks-com-au-inter-medium-19-69-letter-spacing: 0px;
  --www-officeworks-com-au-inter-medium-19-69-line-height: 25px;
  --www-officeworks-com-au-inter-medium-19-69-font-style: normal;
  --www-officeworks-com-au-inter-medium-20-font-family: "Inter", Helvetica;
  --www-officeworks-com-au-inter-medium-20-font-weight: 500;
  --www-officeworks-com-au-inter-medium-20-font-size: 20px;
  --www-officeworks-com-au-inter-medium-20-letter-spacing: 0px;
  --www-officeworks-com-au-inter-medium-20-line-height: 25px;
  --www-officeworks-com-au-inter-medium-20-font-style: normal;
  --www-officeworks-com-au-inter-regular-12-69-font-family: "Inter", Helvetica;
  --www-officeworks-com-au-inter-regular-12-69-font-weight: 400;
  --www-officeworks-com-au-inter-regular-12-69-font-size: 12.6875px;
  --www-officeworks-com-au-inter-regular-12-69-letter-spacing: 0px;
  --www-officeworks-com-au-inter-regular-12-69-line-height: 20px;
  --www-officeworks-com-au-inter-regular-12-69-font-style: normal;
  --www-officeworks-com-au-inter-regular-11-7-font-family: "Inter", Helvetica;
  --www-officeworks-com-au-inter-regular-11-7-font-weight: 400;
  --www-officeworks-com-au-inter-regular-11-7-font-size: 11.699999809265137px;
  --www-officeworks-com-au-inter-regular-11-7-letter-spacing: 0px;
  --www-officeworks-com-au-inter-regular-11-7-line-height: 16.670000076293945px;
  --www-officeworks-com-au-inter-regular-11-7-font-style: normal;
  --www-officeworks-com-au-inter-medium-19-84-font-family: "Inter", Helvetica;
  --www-officeworks-com-au-inter-medium-19-84-font-weight: 500;
  --www-officeworks-com-au-inter-medium-19-84-font-size: 19.84375px;
  --www-officeworks-com-au-inter-medium-19-84-letter-spacing: 0px;
  --www-officeworks-com-au-inter-medium-19-84-line-height: 25px;
  --www-officeworks-com-au-inter-medium-19-84-font-style: normal;
  --www-officeworks-com-au-inter-regular-15-13-font-family: "Inter", Helvetica;
  --www-officeworks-com-au-inter-regular-15-13-font-weight: 400;
  --www-officeworks-com-au-inter-regular-15-13-font-size: 15.125px;
  --www-officeworks-com-au-inter-regular-15-13-letter-spacing: 0px;
  --www-officeworks-com-au-inter-regular-15-13-line-height: 22.860000610351562px;
  --www-officeworks-com-au-inter-regular-15-13-font-style: normal;
  --www-officeworks-com-au-inter-regular-13-56-font-family: "Inter", Helvetica;
  --www-officeworks-com-au-inter-regular-13-56-font-weight: 400;
  --www-officeworks-com-au-inter-regular-13-56-font-size: 13.5625px;
  --www-officeworks-com-au-inter-regular-13-56-letter-spacing: 0px;
  --www-officeworks-com-au-inter-regular-13-56-line-height: 24px;
  --www-officeworks-com-au-inter-regular-13-56-font-style: normal;
  --www-officeworks-com-au-inter-regular-13-34-font-family: "Inter", Helvetica;
  --www-officeworks-com-au-inter-regular-13-34-font-weight: 400;
  --www-officeworks-com-au-inter-regular-13-34-font-size: 13.34375px;
  --www-officeworks-com-au-inter-regular-13-34-letter-spacing: 0px;
  --www-officeworks-com-au-inter-regular-13-34-line-height: 24px;
  --www-officeworks-com-au-inter-regular-13-34-font-style: normal;
  --www-officeworks-com-au-inter-bold-19-38-font-family: "Inter", Helvetica;
  --www-officeworks-com-au-inter-bold-19-38-font-weight: 700;
  --www-officeworks-com-au-inter-bold-19-38-font-size: 19.375px;
  --www-officeworks-com-au-inter-bold-19-38-letter-spacing: 0px;
  --www-officeworks-com-au-inter-bold-19-38-line-height: 25px;
  --www-officeworks-com-au-inter-bold-19-38-font-style: normal;
  --www-officeworks-com-au-inter-bold-13-23-font-family: "Inter", Helvetica;
  --www-officeworks-com-au-inter-bold-13-23-font-weight: 700;
  --www-officeworks-com-au-inter-bold-13-23-font-size: 13.234375px;
  --www-officeworks-com-au-inter-bold-13-23-letter-spacing: 0px;
  --www-officeworks-com-au-inter-bold-13-23-line-height: 21px;
  --www-officeworks-com-au-inter-bold-13-23-font-style: normal;
  --www-officeworks-com-au-inter-regular-13-13-underline-font-family: "Inter", Helvetica;
  --www-officeworks-com-au-inter-regular-13-13-underline-font-weight: 400;
  --www-officeworks-com-au-inter-regular-13-13-underline-font-size: 13.125px;
  --www-officeworks-com-au-inter-regular-13-13-underline-letter-spacing: 0px;
  --www-officeworks-com-au-inter-regular-13-13-underline-line-height: 14px;
  --www-officeworks-com-au-inter-regular-13-13-underline-font-style: normal;
  --www-officeworks-com-au-inter-regular-13-45-underline-font-family: "Inter", Helvetica;
  --www-officeworks-com-au-inter-regular-13-45-underline-font-weight: 400;
  --www-officeworks-com-au-inter-regular-13-45-underline-font-size: 13.453125px;
  --www-officeworks-com-au-inter-regular-13-45-underline-letter-spacing: 0px;
  --www-officeworks-com-au-inter-regular-13-45-underline-line-height: 14px;
  --www-officeworks-com-au-inter-regular-13-45-underline-font-style: normal;
  --www-officeworks-com-au-inter-regular-11-06-font-family: "Inter", Helvetica;
  --www-officeworks-com-au-inter-regular-11-06-font-weight: 400;
  --www-officeworks-com-au-inter-regular-11-06-font-size: 11.0625px;
  --www-officeworks-com-au-inter-regular-11-06-letter-spacing: 0px;
  --www-officeworks-com-au-inter-regular-11-06-line-height: 20px;
  --www-officeworks-com-au-inter-regular-11-06-font-style: normal;
  --www-officeworks-com-au-inter-regular-11-25-font-family: "Inter", Helvetica;
  --www-officeworks-com-au-inter-regular-11-25-font-weight: 400;
  --www-officeworks-com-au-inter-regular-11-25-font-size: 11.25px;
  --www-officeworks-com-au-inter-regular-11-25-letter-spacing: 0px;
  --www-officeworks-com-au-inter-regular-11-25-line-height: 17.139999389648438px;
  --www-officeworks-com-au-inter-regular-11-25-font-style: normal;
  --www-officeworks-com-au-inter-regular-11-38-font-family: "Inter", Helvetica;
  --www-officeworks-com-au-inter-regular-11-38-font-weight: 400;
  --www-officeworks-com-au-inter-regular-11-38-font-size: 11.375px;
  --www-officeworks-com-au-inter-regular-11-38-letter-spacing: 0px;
  --www-officeworks-com-au-inter-regular-11-38-line-height: 10px;
  --www-officeworks-com-au-inter-regular-11-38-font-style: normal;
  --www-officeworks-com-au-inter-regular-14-88-font-family: "Inter", Helvetica;
  --www-officeworks-com-au-inter-regular-14-88-font-weight: 400;
  --www-officeworks-com-au-inter-regular-14-88-font-size: 14.875px;
  --www-officeworks-com-au-inter-regular-14-88-letter-spacing: 0px;
  --www-officeworks-com-au-inter-regular-14-88-line-height: 22.860000610351562px;
  --www-officeworks-com-au-inter-regular-14-88-font-style: normal;
  --www-officeworks-com-au-inter-bold-15-13-font-family: "Inter", Helvetica;
  --www-officeworks-com-au-inter-bold-15-13-font-weight: 700;
  --www-officeworks-com-au-inter-bold-15-13-font-size: 15.125px;
  --www-officeworks-com-au-inter-bold-15-13-letter-spacing: 0px;
  --www-officeworks-com-au-inter-bold-15-13-line-height: 22.860000610351562px;
  --www-officeworks-com-au-inter-bold-15-13-font-style: normal;
}
